<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="baglanti"
			 connectionString="Data Source=.;Initial Catalog=GözHastaneOtomasyonu;Integrated Security=True;" />
	</connectionStrings>

	<appSettings>
		<add key="GEMINI_API_KEY" value="AIzaSyAk39T1SUiYA_pJqDmGQNd2EYXW75mIsLc" />
	</appSettings>
</configuration>
